/* item-one.css */

h1 {
  color: rgb(203, 203, 209);
  text-align: left; 
  font-family: 'Times New Roman', Times, serif, sans-serif;
}

h2 {
  color: rgb(166, 166, 194);
  text-align: center; 
  font-family: 'Times New Roman', Times, serif, sans-serif;
  text-shadow: 0 0 5px rgba(166, 166, 194, 0.5);
}

img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: auto;
  
}

body {
  position: relative; 
  background-color: rgb(43, 47, 48);
  text-align: center;
}

a {
  position: relative;
  color: rgb(203, 203, 209);
  font-family: 'Times New Roman', Times, serif, sans-serif;
  display: inline-block; /* Corrected to inline-block */
  text-align: center;
  top: 300px;
  left: width/2;
}

a:hover {
  color: rgb(91, 190, 214);
  font-family: 'Times New Roman', Times, serif, sans-serif;
}

/* button */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container h1 {
  font-size: 1.5rem;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container p {
  font-size: 1rem;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container button {
  background-color: #f9f871;
  color: #6aaab3;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container button:hover {
  background-color: #6aaab3;
  color: #f9f871;
}